mat-form-field {
  margin-right: 12px;
}
table {
  width: 100%;
}
.pointer{
  cursor: pointer;
}
.pointer:active{
  background: gray;
}
div.form{
  margin: 10px;
  margin-top: 30px;
}

#username{
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 40%;
}
.form-help-text{
  color: red;
}
.error{
  height: 50px;
}
.elemId{
  color: blue;
}
.elemId:focus{
  color: #00cbff;
}
.paginator{
  text-align: center;
  padding: 40px;
  background: #f6f6f6;
}
