<mat-accordion >
  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <span>Нажмите чтобы открыть инфу</span>
      </mat-panel-title>
      <mat-panel-description>

      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="login" (click)="openUserInfo(userData)">{{userData.login}}</div><img src="{{userData.avatar_url}}" >

  </mat-expansion-panel>
</mat-accordion>
