li{
  margin: 10px;
}
.user-info{
  text-align: -webkit-center;
  margin: 30px;
}
.user{
  border: 1px solid gray;
  background: #efefef;
  border-radius: 4px;
  width: 450px;
  padding: 20px;
  margin-top: 30px;
}
img{
  width: 250px;
  height: 250px;
}
